body {
    margin: 20px;
    background-image: url('https://th.bing.com/th/id/OIP.emwMfoHyoVkrQQAf82ewAAHaGm?rs=1&pid=ImgDetMain');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    
    


}



.modry-ramecek {
    border: 2px solid #00ffff15 ;backdrop-filter: blur(8px);
    padding: 10px;
    margin: 10px;
    background-color: #00ffff15 ;backdrop-filter: blur(2px);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00ffff15 ;backdrop-filter: blur(8px);
    color: white;
    text-align: center;
}
h1{
    text-align: center;
    color: magenta;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
}
   
    
    
    
    p{
    text-align: center;
    color: magenta;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
}
    
    
    
    h2{
    text-align: center;
    color: magenta;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
}
    
    