.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00ffff15 ;backdrop-filter: blur(8px);
    color: white;
    text-align: center;

}
body {
background-image: url('file-Xmof3SSwWf2BbQ6HRip77S.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;

}

h1{
text-align: center;
color: magenta;
text-shadow:
-1px -1px 0 purple,
 1px -1px 0 purple,
-1px 1px 0 purple,
 1px 1px 0 purple;
}



p{
text-align: center;
color: magenta;
text-shadow:
-1px -1px 0 purple,
 1px -1px 0 purple,
-1px 1px 0 purple,
 1px 1px 0 purple;
}




h2{
text-align: center;
color: magenta;
text-shadow:
-1px -1px 0 purple,
 1px -1px 0 purple,
-1px 1px 0 purple,
 1px 1px 0 purple;
}





.smrtek{

    border: 2px solid #00ffff15 ;backdrop-filter: blur(8px);
    padding: 10px;
    margin: 10px;
    background-color: #00ffff15 ;backdrop-filter: blur(2px);
    
    
}
.hlavni-obrazek {
    aspect-ratio: 1/1;
    object-fit: cover;
    
}
.thumbnail {
    width: 40px;
    height:40px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    
}

.product-info {
    display: none;
}
.product-info.active {
    display: flex !important;
}
.thumbnail-box {
    cursor: pointer;

}
.modry-ramecek {
    border: 2px solid #00ffff15 ;backdrop-filter: blur(8px);
    padding: 10px;
    margin: 10px;
    background-color: #00ffff15 ;backdrop-filter: blur(2px);
}